body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #00ADEF;
}

.header .logo img {
    height: 60px;
}

.header .info {
    text-align: right;
}

.header .info .fecha,
.header .info .responsable {
    color: #FF0000;
    font-size: 14px;
}

.titulo {
    text-align: center;
    margin: 10px 0;
}

.titulo h1 {
    margin: 0;
    color: #0066CC;
    font-size: 20px;
}

.titulo h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.objetivo {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0; /* Ajusta este padding según sea necesario */
}

iframe {
    max-width: 100%;
    border: 1px solid #ccc; /* Opcional: para darle un borde al iframe */
}
